# Q1

In [2]:
result = 1

for i in range (1,6):
    result = result * i
print(result)

120

# Q2

In [5]:
result = 0

for i in range (1,6):
    result = result + i
print(result)

15

# Q3

In [4]:
result = 1

for i in range (3,10):
    result = result * i
print(result)

181440

# Q4

In [2]:
result = 1 

for i in range (4,9):
    result = result * i
print(result)

6720

# Q5

In [9]:
for i in range (0,6):
    if i != 3:
        print(i)

0
1
2
4
5

# Q6

In [13]:
count = 0
for i in 'this is my fourth string'.split():
    count = count + 1
print(count)

5

# Q7

In [28]:
num_list = [12, 32, 43, 35]
while num_list:
    num_list.remove(num_list[0])
    
print(num_list)

[]

# Q8

In [1]:
word_list = 'this is my fourth string'.split()

count = 0
while word_list:
    count = count + 1
    word_list.remove(word_list[0])
    
print (count)

5

# Q9

In [2]:
my_tweet = {
        "favorite_count":1138,
        "lang": "ch",
        "coordinates": (-75.14310264, 40.05701649),
        "entities":{"hashtags":[" Preds ", "Pens", " SingIntoSpring "]}
        }
my_tweet['entities']['hashtags']

[' Preds ', 'Pens', ' SingIntoSpring ']

# Q9.1

In [3]:
count = 0

for i in my_tweet['entities']['hashtags']:
    count = count + 1
print(count)

3

# 9.2

In [4]:
hashtag_list = my_tweet['entities']['hashtags']

count = 0

while hashtag_list:
    count = count + 1
    hashtag_list.remove(hashtag_list[0])
print(count)

3

# 10

In [5]:
num_list = 12, 32, 43, 35

In [6]:
max_item = num_list[0]
for current_item in num_list:
    if max_item < current_item:
        max_item = current_item
print(max_item)

43

In [7]:
max_item = num_list[0]
for current_item in num_list:
    if max_item > current_item:
        max_item = current_item
print(max_item)

12